.slide {
    height: 450px;
    position: relative;
}

.slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.caption {
    position: absolute;
    right: 10px;
    bottom: 20px;

    color: white;
    text-align: right;
}